In [2]:
import pandas as pd 

df = pd.read_csv("./raw/flipside_aave_util.csv")

df.head()

,DAY,SYMBOL,TOTAL_BORROWS,TOTAL_LIQUIDITY,UTILIZATION_RATE
0,2022-08-22 00:00:00.000,USDC,2.425417e+08,1.163221e+09,0.208509
1,2023-01-02 00:00:00.000,USDC,3.111558e+08,7.383175e+08,0.421439
2,2022-09-17 00:00:00.000,USDC,2.565786e+08,1.266680e+09,0.202560
3,2021-03-22 00:00:00.000,USDC,5.319800e+08,6.128774e+08,0.868004
4,2021-03-08 00:00:00.000,USDC,4.163633e+08,4.268364e+08,0.975463