In [26]:
!pip install pandas
import pandas as pd

defillama_stablecoins_path = './data/defillama_stablecoins.csv'
rwa_stablecoin_xyz_path = './data/rwa_stablecoin_xyz.csv'

defillama_df = pd.read_csv(defillama_stablecoins_path)
rwa_df = pd.read_csv(rwa_stablecoin_xyz_path)

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/paulapivat/Library/Python/3.9/lib/python/site-packages (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/paulapivat/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/paulapivat/Library/Python/3.9/lib/python/site-packages (from pandas) (2024.1)
Requirement already satisfied: pytz>=2020.1 in /Users/paulapivat/Library/Python/3.9/lib/python/site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/paulapivat/Library/Python/3.9/lib/python/site-packages (from pandas) (1.26.4)
Requirement already satisfied: six>=1.5 in /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: /Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip

In [22]:
defillama_df.head()

,Timestamp,Date,USDT,USDC,USTC,BUSD,DAI,FRAX,TUSD,LUSD,...,EURD,XUSD,ULTRA,USDCB,cgUSD,fETH,fxUSD,GAI,EURO3,Total
0,1617148800,2021-03-31,4.072640e+10,1.091108e+10,1.606224e+09,3.583389e+09,3.015418e+09,1.112374e+08,3.295572e+08,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.270884e+10
1,1617235200,2021-04-01,4.082866e+10,1.081464e+10,1.620057e+09,3.481946e+09,3.009058e+09,1.125756e+08,3.278335e+08,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.265331e+10
2,1617321600,2021-04-02,4.086523e+10,1.087159e+10,1.647230e+09,3.527311e+09,2.965694e+09,1.122272e+08,3.217319e+08,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.275346e+10
3,1617408000,2021-04-03,4.181313e+10,1.090838e+10,1.663062e+09,3.826085e+09,3.041816e+09,1.170263e+08,3.288199e+08,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.632674e+10
4,1617494400,2021-04-04,4.247584e+10,1.076522e+10,1.673207e+09,3.955678e+09,3.059450e+09,1.129356e+08,3.152856e+08,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.700625e+10

In [27]:
rwa_df = (
    rwa_df.assign(
        market_cap=rwa_df['market_cap'].replace('[\$,]', '', regex=True).astype(float),
        tbills_amount_est=rwa_df['tbills_amount_est'].replace('[\$,]', '', regex=True).astype(float)
    )
    .assign(tbill_pct=lambda x: x['tbills_amount_est'] / x['market_cap'])
    .pipe(
        lambda x: x[(
            list(x.columns[:x.columns.get_loc('price')]) +
            ['tbill_pct'] +
            list(x.columns[x.columns.get_loc('price'):-1])
        )]
    )
)

rwa_df.head()

,name,ticker,networks,market_cap,tbills_amount_est,tbill_pct,price,pegged_currency,underlying_assets,underlying_assets_tbills,incorporation_country,regulatory,rating_by_bluechip,weekly_active_addresses,weekly_transfer_volume,contract_addresses
0,Tether USD,USDT,NaN,1.043586e+11,6.785047e+10,0.650166,0.9995,US Dollar,Money Market - Fund+ 6 More,us_treasury_debt,Hong Kong,FinCEN - Financial Crimes Enforcement Network,D,"3,270,262","144,117,337,923",4 Addresses
1,Circle USD Coin,USDC,NaN,2.696333e+10,1.534200e+10,0.568995,0.9993,US Dollar,Money Market - Fund+ 3 More,us_treasury_debt,United States of America,FinCEN - Financial Crimes Enforcement Network,B+,"564,482","164,698,867,553",8 Addresses
2,MakerDAO Dai,DAI,NaN,3.193386e+09,1.680000e+09,0.526087,0.9993,US Dollar,Structured Credit+ 4 More,us_treasury_debt,NaN,NaN,B+,"9,752","17,641,832,182",0x6b1...271d0f
3,First Digital Labs USD,FDUSD,NaN,2.921742e+09,4.053000e+08,0.138719,0.9987,US Dollar,Money Market - RRP+ 2 More,us_treasury_debt,Hong Kong,NaN,C,122,"4,661,416,130",0xc5f...e16409
4,Techteryx TrueUSD,TUSD,NaN,1.181063e+09,NaN,NaN,1.0000,US Dollar,Money Market - Fund+ 2 More,us_treasury_debt,British Virgin Islands,NaN,D,546,"22,993,645",2 Addresses