In [1]:
# Review: Tuples

# loop through tuple AND print index of each item

x = (10,20,30,40,50)
for var in x:
    print("index " + str(x.index(var)) + ":", var)

index 0: 10
index 1: 20
index 2: 30
index 3: 40
index 4: 50

In [2]:
# List of Tuples
# accessing all items in the tuple
# two parameters in the loop (a, b), instead of one

x = [(1,2), (3,4), (5,6)]

for a, b in x:
    print(a, "plus", b, "equals", a+b)

1 plus 2 equals 3
3 plus 4 equals 7
5 plus 6 equals 11

In [3]:
# Loop through Dictionary, accessing both Key + Values (at the same time)

stocks = {
        'AAPL': 187.31,
        'MSFT': 124.06,
        'FB': 183.50
        }

for key, value in stocks.items():
    print(key + " : " + str(value))

AAPL : 187.31
MSFT : 124.06
FB : 183.5

In [8]:
stocks = {
        'AAPL': 187.31,
        'MSFT': 124.06,
        'FB': 183.50
        }

values = stocks.values()

for val in values:
    print(val)
    
keys = stocks.keys()

for key in keys:
    print(key)
    
items = stocks.items()

for item in items:
    print(item)

187.31
124.06
183.5
AAPL
MSFT
FB
('AAPL', 187.31)
('MSFT', 124.06)
('FB', 183.5)

In [12]:
# LOOPS with NUMPY ARRAYS

import numpy as np
np.random.seed(0) # seed for reproducibility

x = np.random.randint(10, size=6)
y = np.random.randint(10, size=6)

for val in x:
    print(val)

5
0
3
3
7
9

In [13]:
# Loop through 2-dimensional array
# 2-dimentional array built from x and y

z = np.array([x,y])

for val in z:
    print(val)

[5 0 3 3 7 9]
[3 5 2 4 7 6]

In [14]:
# instead of looping through the array,
# visit every element using .nditer()

for val in np.nditer(z):
    print(val)

5
0
3
3
7
9
3
5
2
4
7
6

In [ ]:
# NOTE: 

# When looping through different data structures, dictionaries require a method, 
# while numpy array requires a function

In [16]:
import pandas as pd

# index_col = 0 makes the 1st column the index (?)
df = pd.read_csv("gdp.csv", index_col = 0)
df.head()

                         Capital  GDP ($US Trillion)  Population
Country
Ireland                   Dublin              0.3337      4784000
United Kingdom            London              2.6220     66040000
United States   Washington, D.C.             19.3900    327200000
China                    Beijing             12.2400   1386000000
India                  New Delhi              2.5970   1339000000

In [17]:
# Looping through column names

for col in df:
    print(col)

Capital
GDP ($US Trillion)
Population

In [24]:
# Looping through ROWS - need to call .iterrows() function

for label, row in df.iterrows():
    print("row label:", label, "\n")
    print("rows:\n", row, "\n")

row label: Ireland

rows:
 Capital                Dublin
GDP ($US Trillion)     0.3337
Population            4784000
Name: Ireland, dtype: object

row label: United Kingdom

rows:
 Capital                 London
GDP ($US Trillion)       2.622
Population            66040000
Name: United Kingdom, dtype: object

row label: United States

rows:
 Capital               Washington, D.C.
GDP ($US Trillion)               19.39
Population                   327200000
Name: United States, dtype: object

row label: China

rows:
 Capital                  Beijing
GDP ($US Trillion)         12.24
Population            1386000000
Name: China, dtype: object

row label: India

rows:
 Capital                New Delhi
GDP ($US Trillion)         2.597
Population            1339000000
Name: India, dtype: object

row label: Germany

rows:
 Capital                 Berlin
GDP ($US Trillion)       3.677
Population            82790000
Name: Germany, dtype: object

In [38]:
# access specific values from a Pandas Series (column)

for label, row in df.iterrows():
    print(label + " : " + row["Capital"])

# need to use row[2] instead of row['Population']
# TypeError: 'str' object cannot be interpreted as an integer
for label, row in df.iterrows():
    print(row[2])

Ireland : Dublin
United Kingdom : London
United States : Washington, D.C.
China : Beijing
India : New Delhi
Germany : Berlin
4784000
66040000
327200000
1386000000
1339000000
82790000

In [41]:
# Use loop to ADD another column
# this would be done with mutate in tidyverse

for label, row in df.iterrows():
    df.loc[label, 'gdp_per_cap'] = row[1]/row[2] * 1000000000000
print(df)

                         Capital  GDP ($US Trillion)  Population   \
Country
Ireland                   Dublin              0.3337      4784000
United Kingdom            London              2.6220     66040000
United States   Washington, D.C.             19.3900    327200000
China                    Beijing             12.2400   1386000000
India                  New Delhi              2.5970   1339000000
Germany                   Berlin              3.6770     82790000

                 gdp_per_cap
Country
Ireland         69753.344482
United Kingdom  39703.210176
United States   59260.391198
China            8831.168831
India            1939.507095
Germany         44413.576519

In [44]:
# NOTE: my previous error was not including the space after 'Population '

for label, row in df.iterrows():
    df.loc[label,'gdp_per_cap'] = row['GDP ($US Trillion)']/row['Population '] * 1000000000000
print(df)

                         Capital  GDP ($US Trillion)  Population   \
Country
Ireland                   Dublin              0.3337      4784000
United Kingdom            London              2.6220     66040000
United States   Washington, D.C.             19.3900    327200000
China                    Beijing             12.2400   1386000000
India                  New Delhi              2.5970   1339000000
Germany                   Berlin              3.6770     82790000

                 gdp_per_cap
Country
Ireland         69753.344482
United Kingdom  39703.210176
United States   59260.391198
China            8831.168831
India            1939.507095
Germany         44413.576519