In [1]:
# Basic if-statements

x = 3
y = 2
if x < y:
  print('hello')
else:
  print('good bye')

good bye

In [3]:
# if-statement one liner

print('hello') if x < y else print('good bye')

good bye

In [14]:
# user input fed into if-statement

weight = int(input('enter your weight.\n'))

if weight < 60:
  print('women')
else:
  print('men')

enter your weight.
99
men

In [10]:
# one-liner, user input fed into if-statement

weight = int(input())

print('women') if weight < 60 else print('men')

66
men

In [15]:
# multiple if-statements
# you can have multiple if-else flows in one function

def howmuch():
  mywallet = 100
  pricetag = input('how much is that thing?\n')
    
  if pricetag.isdigit():
    pricetag = int(pricetag)
  else: 
    return "wrong data type"

  if mywallet < pricetag:
    return "Sorry, may be next time."
  else:
    return "Could I have one, please."

howmuch()

how much is that thing?
one hundred dollar

'wrong data type'

In [19]:
## For Loop ##

## Basic loop through list of string ##

name_list = ['paul', 'apivat', 'marvin', 'pim', 'milin']

for name in name_list:
    print(name)

paul
apivat
marvin
pim
milin

In [25]:
## loop through list of integers ##

int_list = [3,4,5,2,5,6,7,5]

for num in int_list:
    print(num)

3
4
5
2
5
6
7
5

In [27]:
## use loop-through-integers to print strings several times ##

int_list = [3,4,5,2,5,6,7,5]

for num in int_list:
    print("hello "*num)

hello hello hello
hello hello hello hello
hello hello hello hello hello
hello hello
hello hello hello hello hello
hello hello hello hello hello hello
hello hello hello hello hello hello hello
hello hello hello hello hello

In [38]:
## loop through list of several data types ##

varied_list = [3,'six', 6, 'seven', 23, True]

for item in varied_list:
    print(item)

3
six
6
seven
23
True

In [23]:
## looping through dictionary (keys) ##
## loops through key ##

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for key in thisdict:
    print(key)

brand
model
year

In [24]:
## loop through dictionary (values) ##

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for key in thisdict:
    print(key, '->', thisdict[key])

brand -> Ford
model -> Mustang
year -> 1964

In [32]:
## loop through dictionary using .items() ##
## .items() is a built-in method
## get both key and value

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}


these_items = thisdict.items()
these_items

for item in these_items:
    print(item)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)

In [36]:
## alternative: loop through key and values ##

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

#for key in thisdict:
#    print(key)
    
#for value in thisdict:
#    print(thisdict[value])

## use .key() and .values() to loop

values = thisdict.values()
keys = thisdict.keys()

for value in values:
    print(value)
    
for key in keys:
    print(key)

Ford
Mustang
1964
brand
model
year

In [37]:
## loop through tuple ##

thistuple = ("apple", "banana", "cherry")

for tuple in thistuple:
    print(tuple)

apple
banana
cherry

In [41]:
## construct LIST of tuples
## loop through list of tuples

data = [
    ('r1', 'c1', 11, 11),
    ('r1', 'c2', 12, 12),
    ('r2', 'c1', 21, 21),
    ('r2', 'c2', 22, 22)
]

for d in data:
    print(d)

('r1', 'c1', 11, 11)
('r1', 'c2', 12, 12)
('r2', 'c1', 21, 21)
('r2', 'c2', 22, 22)

In [43]:
## convert List of Tuples into Pandas DataFrame

import pandas as pd

df = pd.DataFrame(data, columns=['R_Number', 'C_Number', 'Avg', 'Std'])
df

  R_Number C_Number  Avg  Std
0       r1       c1   11   11
1       r1       c2   12   12
2       r2       c1   21   21
3       r2       c2   22   22

In [47]:
## loop through newly created Pandas DataFrame ##

## loop through column names
## basic loop goes for the column name first
for col_names in df:
    print(col_names)

R_Number
C_Number
Avg
Std

In [53]:
## loop through one column in a Pandas DataFrame ##

#df['R_Number']

for items in df['R_Number']:
    print(items)

r1
r1
r2
r2

In [56]:
## loop through one row in a Pandas DataFrame ##

#df.iloc[1]

for items in df.iloc[1]:
    print(items)

r1
c2
12
12

In [58]:
# iloc is row-first, column-second
df.iloc[1,2]

12