In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("onchain_txn.csv")
print(df)

         Date Transaction Volume USD   Velocity
0         NaN                    NaN        NaN
1   5/27/2023           $40,616,722    3.651233
2   5/28/2023           $70,802,744    4.961693
3   5/29/2023           $44,348,141    4.574330
4   5/30/2023           $54,893,744    4.531372
5   5/31/2023          $492,404,779    6.568536
6    6/1/2023          $208,542,257    4.426043
7    6/2/2023          $158,496,434    3.444111
8    6/3/2023           $28,568,445    3.450173
9    6/4/2023           $37,760,137    3.162623
10   6/5/2023          $121,754,721    3.174051
11   6/6/2023          $338,158,027    7.736210
12   6/7/2023          $221,056,459    3.681698
13   6/8/2023          $147,364,879    4.693614
14   6/9/2023          $744,116,512    3.251231
15  6/10/2023          $200,389,584    8.800269
16  6/11/2023           $33,050,375   13.483608
17  6/12/2023          $137,312,193    5.978008
18  6/13/2023           $55,812,516   15.212172
19  6/14/2023           $88,286,377    4.442563
20  6/15/2023           $74,518,984    3.177753
21  6/16/2023           $35,848,545    4.935228
22  6/17/2023           $21,852,581    4.079583
23  6/18/2023           $20,415,115    3.567205
24  6/19/2023           $31,700,230    5.557787
25  6/20/2023           $13,978,669   10.046125
26  6/21/2023          $109,315,772    5.475366
27  6/22/2023           $85,207,145    3.682260
28  6/23/2023           $40,623,372    4.341799
29  6/24/2023           $28,819,440    4.453112
30  6/25/2023           $34,420,026    3.258318
31  6/26/2023           $68,595,467    3.425708
32  6/27/2023           $34,366,420    5.771880

In [4]:
df.columns

Index(['Date', 'Transaction Volume USD', 'Velocity'], dtype='object')

In [6]:
type(df['Transaction Volume USD'][1])

str

In [10]:
# remove first row

df = df.iloc[1:]
print(df)

         Date Transaction Volume USD   Velocity
1   5/27/2023           $40,616,722    3.651233
2   5/28/2023           $70,802,744    4.961693
3   5/29/2023           $44,348,141    4.574330
4   5/30/2023           $54,893,744    4.531372
5   5/31/2023          $492,404,779    6.568536
6    6/1/2023          $208,542,257    4.426043
7    6/2/2023          $158,496,434    3.444111
8    6/3/2023           $28,568,445    3.450173
9    6/4/2023           $37,760,137    3.162623
10   6/5/2023          $121,754,721    3.174051
11   6/6/2023          $338,158,027    7.736210
12   6/7/2023          $221,056,459    3.681698
13   6/8/2023          $147,364,879    4.693614
14   6/9/2023          $744,116,512    3.251231
15  6/10/2023          $200,389,584    8.800269
16  6/11/2023           $33,050,375   13.483608
17  6/12/2023          $137,312,193    5.978008
18  6/13/2023           $55,812,516   15.212172
19  6/14/2023           $88,286,377    4.442563
20  6/15/2023           $74,518,984    3.177753
21  6/16/2023           $35,848,545    4.935228
22  6/17/2023           $21,852,581    4.079583
23  6/18/2023           $20,415,115    3.567205
24  6/19/2023           $31,700,230    5.557787
25  6/20/2023           $13,978,669   10.046125
26  6/21/2023          $109,315,772    5.475366
27  6/22/2023           $85,207,145    3.682260
28  6/23/2023           $40,623,372    4.341799
29  6/24/2023           $28,819,440    4.453112
30  6/25/2023           $34,420,026    3.258318
31  6/26/2023           $68,595,467    3.425708
32  6/27/2023           $34,366,420    5.771880

In [11]:
df['Transaction Volume USD'] = df['Transaction Volume USD'].str.replace('$', '').str.replace(',', '').astype(int)

print(df)

         Date  Transaction Volume USD   Velocity
1   5/27/2023                40616722   3.651233
2   5/28/2023                70802744   4.961693
3   5/29/2023                44348141   4.574330
4   5/30/2023                54893744   4.531372
5   5/31/2023               492404779   6.568536
6    6/1/2023               208542257   4.426043
7    6/2/2023               158496434   3.444111
8    6/3/2023                28568445   3.450173
9    6/4/2023                37760137   3.162623
10   6/5/2023               121754721   3.174051
11   6/6/2023               338158027   7.736210
12   6/7/2023               221056459   3.681698
13   6/8/2023               147364879   4.693614
14   6/9/2023               744116512   3.251231
15  6/10/2023               200389584   8.800269
16  6/11/2023                33050375  13.483608
17  6/12/2023               137312193   5.978008
18  6/13/2023                55812516  15.212172
19  6/14/2023                88286377   4.442563
20  6/15/2023                74518984   3.177753
21  6/16/2023                35848545   4.935228
22  6/17/2023                21852581   4.079583
23  6/18/2023                20415115   3.567205
24  6/19/2023                31700230   5.557787
25  6/20/2023                13978669  10.046125
26  6/21/2023               109315772   5.475366
27  6/22/2023                85207145   3.682260
28  6/23/2023                40623372   4.341799
29  6/24/2023                28819440   4.453112
30  6/25/2023                34420026   3.258318
31  6/26/2023                68595467   3.425708
32  6/27/2023                34366420   5.771880

/var/folders/v0/71tqdwzx1_11vzpcg1y_4mj80000gn/T/ipykernel_95077/1783522229.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Transaction Volume USD'] = df['Transaction Volume USD'].str.replace('$', '').str.replace(',', '').astype(int)

In [12]:
# Calculate average, min, max


column_avg = df['Transaction Volume USD'].mean()
column_min = df['Transaction Volume USD'].min()
column_max = df['Transaction Volume USD'].max()

print(f"Average: {column_avg}")
print(f"Minimum: {column_min}")
print(f"Maximum: {column_max}")

Average: 119481150.375
Minimum: 13978669
Maximum: 744116512