**DeFi Llama Yield Ranking**

DeFi Llama UI allows filtering by chain (Ethereum) and categories (Dexes, Lending), but downloaded csv does **not** filter.

Process:
- Download "yield_ranking.csv", filter dataframe by chain
- save as df_yield, select columns: chain, project (app), symbol, tvlUsd, rewardTokens, pool (address), underlyingTokens
- Download "all.csv", filter by chain & category
- save as df_all, select columnns: Unnamed: 0 (project), categories (CDP, Dexes, Lending), chain
    - only interested in how to categorize projects for now
- Join tables

**Assumption**: DeFi Llama categorization aligns with our goals/objectives

In [17]:
import pandas as pd

df = pd.read_csv('yield_ranking.csv')

df.head(n=100)

,chain,project,symbol,tvlUsd,apyBase,apyReward,apy,rewardTokens,pool,apyPct1D,...,exposure,poolMeta,mu,sigma,count,outlier,underlyingTokens,predictedClass,predictedConfidence,binnedConfidence
0,Ethereum,lido,stETH,6.153096e+09,NaN,NaN,3.900,NaN,lido-stETH,0.000,...,single,NaN,3.897,0.006,120,False,NaN,Stable/Up,82.0,3.0
1,Tron,justlend,BTC,2.233022e+09,0.000,0.033,0.033,TPYmHEhy5n8TCEfYGqW2rPxsghSfzghPDn,TLeEu311Cbw63BcmMHDgDLu7fnk9fqGcqT,0.000,...,single,NaN,0.059,0.001,55,False,TN3W4H6rK2ce4vX9YnFQHwKENnHjoxb3m9,Stable/Up,72.0,2.0
2,Ethereum,curve,ETH-stETH,1.175444e+09,2.920,4.536,7.456,"0x5A98FcBEA516Cf06857215779Fd812CA3beF1B32,0xD...",0xDC24316b9AE028F1497c275EB9192a3Ea0f67022-eth...,0.087,...,multi,NaN,4.292,0.107,201,False,"0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE,0xa...",Down,74.0,2.0
3,Ethereum,aave-v2,STETH,1.169495e+09,0.000,NaN,0.000,NaN,0xae7ab96520de3a18e5e111b5eaab095312d7fe840xb5...,0.000,...,single,NaN,0.000,0.000,157,False,0xae7ab96520de3a18e5e111b5eaab095312d7fe84,NaN,NaN,NaN
4,Ethereum,aave-v2,USDC,1.031157e+09,0.376,NaN,0.376,NaN,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb480xb5...,-0.054,...,single,NaN,1.544,0.045,201,False,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,Stable/Up,72.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Polygon,aave-v2,USDC,8.538458e+07,0.327,NaN,0.327,NaN,0x2791bca1f2de4661ed88a30c99a7a9449aa841740xd0...,0.008,...,single,NaN,1.354,0.044,201,False,0x2791bca1f2de4661ed88a30c99a7a9449aa84174,Stable/Up,71.0,2.0
96,Ethereum,ankr,aETHc,8.377668e+07,NaN,NaN,3.959,NaN,ankr-aETHc,-0.300,...,single,NaN,3.592,0.030,84,False,NaN,Down,50.0,1.0
97,Ethereum,curve,USDC-EURS,8.162495e+07,0.000,0.481,0.481,0xD533a949740bb3306d119CC777fa900bA034cd52,0x98a7F18d4E56Cfe84E3D081B40001B3d5bD3eB8B-eth...,0.001,...,multi,NaN,4.218,0.243,201,False,"0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48,0xd...",Stable/Up,89.0,3.0
98,Ethereum,convex-finance,USDC-EURS,8.162273e+07,0.010,4.065,4.076,"0xd533a949740bb3306d119cc777fa900ba034cd52,0x4...",0x3D229E1B4faab62F621eF2F6A610961f7BD7b23B,-2.137,...,multi,NaN,6.231,0.226,144,False,"0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48,0xd...",Stable/Up,67.0,2.0
99,Polygon,mm-finance-polygon,USDC-WETH,8.084390e+07,6.317,24.816,31.133,0x22a31bD4cB694433B6de19e0aCC2899E553e9481,0x8C26252B14F9b071585B81b240C4ae2176E8cD3C,1.493,...,multi,NaN,32.576,0.150,7,True,"0x2791Bca1f2de4661ED88A30C99A7a9449Aa84174,0x7...",Down,61.0,1.0

In [9]:
df.shape

(9064, 24)

In [18]:
df_yield = (
    df
    .loc[df['chain'] == 'Ethereum']
)

df_yield.head(n=100)

,chain,project,symbol,tvlUsd,apyBase,apyReward,apy,rewardTokens,pool,apyPct1D,...,exposure,poolMeta,mu,sigma,count,outlier,underlyingTokens,predictedClass,predictedConfidence,binnedConfidence
0,Ethereum,lido,stETH,6.153096e+09,NaN,NaN,3.900,NaN,lido-stETH,0.000,...,single,NaN,3.897,0.006,120,False,NaN,Stable/Up,82.0,3.0
2,Ethereum,curve,ETH-stETH,1.175444e+09,2.920,4.536,7.456,"0x5A98FcBEA516Cf06857215779Fd812CA3beF1B32,0xD...",0xDC24316b9AE028F1497c275EB9192a3Ea0f67022-eth...,0.087,...,multi,NaN,4.292,0.107,201,False,"0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE,0xa...",Down,74.0,2.0
3,Ethereum,aave-v2,STETH,1.169495e+09,0.000,NaN,0.000,NaN,0xae7ab96520de3a18e5e111b5eaab095312d7fe840xb5...,0.000,...,single,NaN,0.000,0.000,157,False,0xae7ab96520de3a18e5e111b5eaab095312d7fe84,NaN,NaN,NaN
4,Ethereum,aave-v2,USDC,1.031157e+09,0.376,NaN,0.376,NaN,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb480xb5...,-0.054,...,single,NaN,1.544,0.045,201,False,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,Stable/Up,72.0,2.0
5,Ethereum,compound,cUSDC,1.019206e+09,0.726,0.383,1.108,0xc00e94cb662c3520282e6f5717214004a7f26888,0x39aa39c021dfbae8fac545936693ac917d5e7563,0.026,...,single,NaN,1.730,0.043,201,False,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,Stable/Up,78.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,Ethereum,balancer,OHM-DAI-WETH,4.463797e+07,1.393,0.000,1.393,NaN,0xc45d42f801105e861e86658648e3678ad7aa70f90001...,NaN,...,multi,NaN,3.572,0.149,186,False,"0x64aa3364f17a4d01c6f1751fd97c2bd3d7e7f1d5,0x6...",Stable/Up,72.0,2.0
165,Ethereum,compound,cCOMP,4.442974e+07,0.118,0.643,0.761,0xc00e94cb662c3520282e6f5717214004a7f26888,0x70e36f6bf80a52b3b46b3af8e106cc0ed743e8e4,0.001,...,single,NaN,1.165,0.040,201,False,0xc00e94cb662c3520282e6f5717214004a7f26888,Stable/Up,64.0,2.0
167,Ethereum,curve,ETH-sETH,4.365455e+07,0.034,1.779,1.813,0xD533a949740bb3306d119CC777fa900bA034cd52,0xc5424B857f758E906013F3555Dad202e4bdB4567-eth...,-0.027,...,multi,NaN,3.395,0.216,201,False,"0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE,0x5...",Stable/Up,75.0,2.0
168,Ethereum,curve,renBTC-WBTC-sBTC,4.336160e+07,0.025,1.288,1.313,"0x330416C863f2acCE7aF9C9314B422d24c672534a,0xD...",0x7fC77b5c7614E1533320Ea6DDc2Eb61fa00A9714-eth...,-0.937,...,multi,NaN,2.268,0.034,41,False,"0xEB4C2781e4ebA804CE9a9803C67d0893436bB27D,0x2...",Stable/Up,77.0,2.0
169,Ethereum,curve,BUSD-3Crv,4.306823e+07,0.148,1.344,1.492,0xD533a949740bb3306d119CC777fa900bA034cd52,0x4807862AA8b2bF68830e4C8dc86D0e9A998e085a-eth...,0.052,...,multi,NaN,3.354,0.092,201,False,"0x4Fabb145d64652a948d72533023f6E7A623C7C53,0x6...",Stable/Up,94.0,3.0

In [25]:
df_yield_1 = df_yield[['chain', 'project', 'symbol', 'tvlUsd', 'rewardTokens', 'pool', 'underlyingTokens']]

df_yield_1.head()

,chain,project,symbol,tvlUsd,rewardTokens,pool,underlyingTokens
0,Ethereum,lido,stETH,6.153096e+09,NaN,lido-stETH,NaN
2,Ethereum,curve,ETH-stETH,1.175444e+09,"0x5A98FcBEA516Cf06857215779Fd812CA3beF1B32,0xD...",0xDC24316b9AE028F1497c275EB9192a3Ea0f67022-eth...,"0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE,0xa..."
3,Ethereum,aave-v2,STETH,1.169495e+09,NaN,0xae7ab96520de3a18e5e111b5eaab095312d7fe840xb5...,0xae7ab96520de3a18e5e111b5eaab095312d7fe84
4,Ethereum,aave-v2,USDC,1.031157e+09,NaN,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb480xb5...,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48
5,Ethereum,compound,cUSDC,1.019206e+09,0xc00e94cb662c3520282e6f5717214004a7f26888,0x39aa39c021dfbae8fac545936693ac917d5e7563,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48

In [65]:
df_all = pd.read_csv('all.csv', low_memory=False)

# 231,206 rows, 1401 columns
df_all.shape

(231206, 1401)

In [43]:
import pandas as pd

def front(self, n):
    return self.iloc[:, :n]

def back(self, n):
    return self.iloc[:, -n:]

pd.DataFrame.front = front
pd.DataFrame.back = back

df_all.back(20)

,Unnamed: 1381,Unnamed: 1382,Unnamed: 1383,Unnamed: 1384,Unnamed: 1385,Unnamed: 1386,Unnamed: 1387,Unnamed: 1388,Unnamed: 1389,Unnamed: 1390,Unnamed: 1391,Unnamed: 1392,Unnamed: 1393,Unnamed: 1394,Unnamed: 1395,Unnamed: 1396,Unnamed: 1397,Unnamed: 1398,Unnamed: 1399,Unnamed: 1400
0,10/08/2022,11/08/2022,12/08/2022,13/08/2022,14/08/2022,15/08/2022,16/08/2022,17/08/2022,18/08/2022,19/08/2022,20/08/2022,21/08/2022,22/08/2022,23/08/2022,24/08/2022,25/08/2022,26/08/2022,27/08/2022,28/08/2022,29/08/2022
1,1660089600,1660176000,1660262400,1660348800,1660435200,1660521600,1660608000,1660694400,1660780800,1660867200,1660953600,1661040000,1661126400,1661212800,1661299200,1661385600,1661472000,1661558400,1661644800,1661731200
2,5495854862.2595215,5867910302.922377,5920653212.5250225,6041043624.663922,6065295899.262139,6037579014.007034,5961057693.059051,5943509177.584832,5798177812.333926,5668417662.648292,5217483510.525664,5239755067.912655,5319685212.757077,5267758350.988118,5280857923.671569,5299874883.792235,5331886537.396895,5021567719.4602375,4951734840.694396,4869593226.691961
3,5495854862.2595215,5867910302.922377,5920653212.5250225,6041043624.663922,6065295899.262139,6037579014.007034,5961057693.059051,5943509177.584832,5798177812.333926,5668417662.648292,5217483510.525664,5239755067.912655,5319685212.757077,5267758350.988118,5280857923.671569,5299874883.792235,5331886537.396895,5021567719.4602375,4951734840.694396,4869593226.691961
4,5495854862.2595215,5867910302.922377,5920653212.5250225,6041043624.663922,6065295899.262139,6037579014.007034,5961057693.059051,5943509177.584832,5798177812.333926,5668417662.648292,5217483510.525664,5239755067.912655,5319685212.757077,5267758350.988118,5280857923.671569,5299874883.792235,5331886537.396895,5021567719.4602375,4951734840.694396,4869593226.691961
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231204,686.3638495260014,686.3638495260014,686.3638495260014,686.3638495260014,686.3638495260014,686.3638495260014,686.3638495260014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231205,64331235.536917,65537825.44566001,67245111.11417866,67345986.51410656,67689889.92135088,67974371.47019014,68112984.44271845,68064149.28988113,68299385.02987759,68325341.60114086,68211752.48594195,68288877.31654438,68271821.00039016,68377407.14290719,68429440.76638,68484054.36936904,68486234.0961139,68981767.53681906,68946882.60190822,68987927.2857177

In [47]:
df_all_0 = (
    df_all
    .loc[df_all['Chain'] == 'ethereum']
    .loc[(df_all['Category'] == 'Dexes') | (df_all['Category'] == 'Lending') | (df_all['Category'] == 'CDP')]
)

df_all_0.head(n=500)

,Unnamed: 0,Category,Chain,Category.1,Token,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 1391,Unnamed: 1392,Unnamed: 1393,Unnamed: 1394,Unnamed: 1395,Unnamed: 1396,Unnamed: 1397,Unnamed: 1398,Unnamed: 1399,Unnamed: 1400
51,Loopring,Dexes,ethereum,TVL,NaN,NaN,NaN,NaN,NaN,NaN,...,171028779.98428136,168646558.33465308,171880550.35325134,170036594.98175305,171462236.5284655,174284897.3720764,175439035.26336306,161081692.20585802,161105850.42104232,155169587.8138029
53,Loopring,Dexes,ethereum,Tokens(USD),WBTC,NaN,NaN,NaN,NaN,NaN,...,694073.3460343201,696558.36942192,707184.05910376,701131.03464104,702874.56886128,663324.94668552,665178.7590103201,626464.97829408,622381.37391507,609770.6229115908
54,Loopring,Dexes,ethereum,Tokens(USD),MKR,NaN,NaN,NaN,NaN,NaN,...,16886.50787977403,16544.193583171604,16657.10144557077,16840.42710907755,16880.922331810823,17118.707087958897,16694.80389432244,14109.077741740273,14272.168043302236,13742.17105418981
55,Loopring,Dexes,ethereum,Tokens(USD),USDT,NaN,NaN,NaN,NaN,NaN,...,2456490.6521143196,2453940.859964594,2453807.0976777817,2446557.3578385934,2438536.0288357153,2441192.9245935585,2449163.661516225,2437370.1350633,2427920.292520723,2406061.1397272446
56,Loopring,Dexes,ethereum,Tokens(USD),LINK,NaN,NaN,NaN,NaN,NaN,...,109495.69521850691,107476.62566128622,109495.69521850691,109651.00826137004,110893.51260427508,111825.39086145387,109651.00826137004,100798.16481817162,101730.04307535039,97225.96483231962
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2589,MakerDAO,CDP,ethereum,Tokens(USD),BAL,NaN,NaN,NaN,NaN,NaN,...,78803.49842416287,78942.48166653352,84779.77784610113,87142.49296640231,89922.15781381547,89505.20808670351,91867.92320700469,81027.23030209339,82972.99569528259,79637.39787838682
2590,MakerDAO,CDP,ethereum,Tokens(USD),YFI,NaN,NaN,NaN,NaN,NaN,...,453931.39737894555,440767.01810483634,446094.4330289448,460216.5383084455,467265.8114304824,485432.90066216624,498261.8197579163,458830.140288876,435693.75960861455,420054.69954707765
2591,MakerDAO,CDP,ethereum,Tokens(USD),GUSD,NaN,NaN,NaN,NaN,NaN,...,431172.45175914,428692.71009474003,432173.45237157,430208.73397593,430011.04827681003,433340.49163041,433521.27,434821.83381,432245.85042366,429884.0265447
2592,MakerDAO,CDP,ethereum,Tokens(USD),RENBTC,NaN,NaN,NaN,NaN,NaN,...,7383124.70679476,7424768.0777355395,7530801.1987024,7472710.44596148,7492307.3264042,7552267.6490434995,7546304.40937635,7080851.798208,7031562.69357,6887114.15585004
2593,MakerDAO,CDP,ethereum,Tokens(USD),UNI,NaN,NaN,NaN,NaN,NaN,...,447487.9349855279,442839.4314785348,454831.40181110444,441856.6388026303,445708.4828398129,450202.50199209224,440981.0773143536,389177.33645632205,384760.2332757668,365208.5101371599

In [117]:
df_all_1 = df_all_0[['Unnamed: 0', 'Category', 'Chain']]

df_all_1.columns = ['project', 'category', 'chain']

list(df_all_1)

['project', 'category', 'chain']

In [92]:
df_all_1.head()

df_all_1.shape

(12493, 3)

In [118]:
df_all_1

          project category     chain
51       Loopring    Dexes  ethereum
53       Loopring    Dexes  ethereum
54       Loopring    Dexes  ethereum
55       Loopring    Dexes  ethereum
56       Loopring    Dexes  ethereum
...           ...      ...       ...
229474  SushiSwap    Dexes  ethereum
229475  SushiSwap    Dexes  ethereum
229476  SushiSwap    Dexes  ethereum
229477  SushiSwap    Dexes  ethereum
229478  SushiSwap    Dexes  ethereum

[12493 rows x 3 columns]

In [119]:
df_all_2 = (
     df_all_1
        .groupby(['project', 'category', 'chain'], as_index=False)
        .count()
)

df_all_2

              project category     chain
0       1inch Network    Dexes  ethereum
1               88mph  Lending  ethereum
2             AAVE V1  Lending  ethereum
3             AAVE V2  Lending  ethereum
4            Aave Arc  Lending  ethereum
..                ...      ...       ...
160            dForce  Lending  ethereum
161           mStable      CDP  ethereum
162  unFederalReserve  Lending  ethereum
163           xDollar      CDP  ethereum
164            xSigma    Dexes  ethereum

[165 rows x 3 columns]

In [120]:
list(df_all_2)

['project', 'category', 'chain']

In [121]:
df_all_2['chain'] = df_all_2['chain'].str.capitalize()

df_all_2

              project category     chain
0       1inch Network    Dexes  Ethereum
1               88mph  Lending  Ethereum
2             AAVE V1  Lending  Ethereum
3             AAVE V2  Lending  Ethereum
4            Aave Arc  Lending  Ethereum
..                ...      ...       ...
160            dForce  Lending  Ethereum
161           mStable      CDP  Ethereum
162  unFederalReserve  Lending  Ethereum
163           xDollar      CDP  Ethereum
164            xSigma    Dexes  Ethereum

[165 rows x 3 columns]

In [122]:
df_all_2['project'] = df_all_2['project'].str.lower()

df_all_2

              project category     chain
0       1inch network    Dexes  Ethereum
1               88mph  Lending  Ethereum
2             aave v1  Lending  Ethereum
3             aave v2  Lending  Ethereum
4            aave arc  Lending  Ethereum
..                ...      ...       ...
160            dforce  Lending  Ethereum
161           mstable      CDP  Ethereum
162  unfederalreserve  Lending  Ethereum
163           xdollar      CDP  Ethereum
164            xsigma    Dexes  Ethereum

[165 rows x 3 columns]

In [123]:
df_all_2.loc[df_all_2['project'] == "aave v2", "project"] = "aave-v2"
df_all_2.loc[df_all_2['project'] == "iron bank", "project"] = "iron-bank"
df_all_2.loc[df_all_2['project'] == "bancor v3", "project"] = "bancor-v3"
df_all_2.loc[df_all_2['project'] == "the granary", "project"] = "the-granary"


df_all_2

              project category     chain
0       1inch network    Dexes  Ethereum
1               88mph  Lending  Ethereum
2             aave v1  Lending  Ethereum
3             aave-v2  Lending  Ethereum
4            aave arc  Lending  Ethereum
..                ...      ...       ...
160            dforce  Lending  Ethereum
161           mstable      CDP  Ethereum
162  unfederalreserve  Lending  Ethereum
163           xdollar      CDP  Ethereum
164            xsigma    Dexes  Ethereum

[165 rows x 3 columns]

In [124]:
for col in df_all_2:
    print(df_all_2[col].unique())

['1inch network' '88mph' 'aave v1' 'aave-v2' 'aave arc' 'abracadabra'
 'alkemi' 'angle' 'apeswap amm' 'augmented finance' 'augur' 'b.protocol'
 'balancer' 'bancor v2.1' 'bancor-v3' 'behodler' 'beta finance' 'bifi'
 'bondappetit' 'brokoli network' 'chfry finance' 'cream finance' 'candle'
 'capitaldex' 'chickenswap' 'clearpool' 'clipper' 'cofix' 'component'
 'compound' 'convergence' 'creamswap' 'curve' 'ddex' 'deus finance'
 'dfx finance' 'dodo' 'defil' 'definer' 'deerfi' 'defi swap' 'defiplaza'
 'demodyfi' 'drops' 'elyfi' 'elasticswap' 'elk' 'emiswap' 'empiredex'
 'euler' 'flux protocol' 'fortube' 'freeliquid' 'fringe' 'fuji dao'
 'gnosis protocol v1' 'h2odata' 'handle fi' 'hashflow' 'hector network'
 'hodltree' 'homecoin' 'hundred finance' 'ichi farm' 'idex' 'integral'
 'interest protocol' 'inverse finance' 'iron-bank' 'kwikswap' 'kyberswap'
 'lendflare' 'liqee' 'liquity' 'loopring' 'luaswap' 'mantra dao' 'mcdex'
 'mahadao' 'makerdao' 'marginswap' 'mercurity' 'mesher' 'metastreet'
 'metapoly' 'mimo defi' 'miniswap' 'mochifi' 'monox' 'mooniswap' 'morpho'
 'multiplier' 'notional' 'nowswap' 'omni protocol' 'oneswap' 'ooki'
 'openleverage' 'openocean' 'orion protocol' 'ouchi finance'
 'paladin finance' 'parasset' 'paraswap' 'percent finance' 'perlin'
 'polkaex' 'primitive' 'qilin' 'radioshack' 'ramp' 'reflexer' 'reserve'
 'rhino.fi' 'rook' 'ruler' 's finance' 'saddle finance' 'safeswap'
 'sakeperp' 'sashimiswap' 'shell protocol' 'shibaswap' 'silo finance'
 'smartcredit' 'smoothy' 'snowswap' 'standard protocol' 'strike' 'sturdy'
 'sudoswap' 'sumswap' 'sunflowerswap' 'sushiswap' 'sushiswap kashi'
 'swap cat' 'swapr' 'swarm markets' 'swerve' 'swipe' 'the-granary'
 'tokenlon' 'unifi' 'unitrade' 'unicly' 'unilend' 'union protocol'
 'uniswap' 'unit protocol' 'value liquid' 'varen' 'wowswap'
 'warp protocol' 'wepiggy' 'wild credit' 'wing finance' 'xdefi'
 'yield protocol' 'youswap' 'zeroswap' 'dforce' 'mstable'
 'unfederalreserve' 'xdollar' 'xsigma']
['Dexes' 'Lending' 'CDP']
['Ethereum']

In [105]:
for col in df_yield_1:
    print(df_yield_1[col].unique())

['Ethereum']
['lido' 'curve' 'aave-v2' 'compound' 'uniswap' 'arrakis-finance'
 'convex-finance' 'balancer' 'iron-bank' 'aura' 'yearn-finance' 'ankr'
 'goldfinch' 'frax' 'euler' 'sushiswap' 'origin-dollar' 'across'
 'notional' 'instadapp' 'idle-finance' 'concentrator' 'tokemak' 'morpho'
 'bancor' 'badger-dao' 'bancor-v3' 'angle' 'thorchain' 'sherlock' 'maple'
 'loopring' 'nftx' 'stakedao' 'truefi' 'harvest-finance' 'clipper'
 'vesper' 'liqee' 'sideshift' 'civfund' 'cbridge' 'sturdy' 'tokensfarm'
 'unicrypt' 'pickle' 'homora' 'dforce' 'fractal-protocol'
 'zunami-protocol' 'armor' 'abracadabra' 'kyberswap' 'integral'
 'pony-finance' 'tenderize' 'jelly' 'mero' 'mover' 'the-granary']
['stETH' 'ETH-stETH' 'STETH' ... 'USDC-ETH' 'BMI-BNT' 'PIXLS']
[6.15309636e+09 1.17544374e+09 1.16949499e+09 ... 1.00258540e+04
 1.00120000e+04 1.00090000e+04]
[nan
 '0x5A98FcBEA516Cf06857215779Fd812CA3beF1B32,0xD533a949740bb3306d119CC777fa900bA034cd52'
 '0xc00e94cb662c3520282e6f5717214004a7f26888'
 '0xD533a949740bb3306d119CC777fa900bA034cd52'
 '0x3432B6A60D23Ca0dFCa7761B7ab56459D9C964D0,0xD533a949740bb3306d119CC777fa900bA034cd52'
 '0xd533a949740bb3306d119cc777fa900ba034cd52,0x4e3fbd56cd56c3e72c1403e103b45db9da5b9d2b'
 '0xd533a949740bb3306d119cc777fa900ba034cd52,0x4e3fbd56cd56c3e72c1403e103b45db9da5b9d2b,0x5A98FcBEA516Cf06857215779Fd812CA3beF1B32'
 '0xba100000625a3754423978a60c9317c58a424e3d'
 '0x090185f2135308BaD17527004364eBcC2D37e5F6,0xD533a949740bb3306d119CC777fa900bA034cd52'
 '0xba100000625a3754423978a60c9317c58a424e3d,0xc0c293ce456ff0ed870add98a0828dd4d2903dbf'
 '0xC011a73ee8576Fb46F5E1c5751cA3B9Fe0af2a6F,0xD533a949740bb3306d119CC777fa900bA034cd52'
 '0xd533a949740bb3306d119cc777fa900ba034cd52,0x4e3fbd56cd56c3e72c1403e103b45db9da5b9d2b,0xC011a73ee8576Fb46F5E1c5751cA3B9Fe0af2a6F'
 '0xdBdb4d16EdA451D0503b854CF79D55697F90c8DF,0xD533a949740bb3306d119CC777fa900bA034cd52'
 '0xd533a949740bb3306d119cc777fa900ba034cd52,0x4e3fbd56cd56c3e72c1403e103b45db9da5b9d2b,0x4e3FBD56CD56c3e72c1403e103b45Db9da5B9D2B'
 '0xdab396cCF3d84Cf2D07C4454e10C8A6F5b008D2b'
 '0xd533a949740bb3306d119cc777fa900ba034cd52,0x4e3fbd56cd56c3e72c1403e103b45db9da5b9d2b,0x4e3FBD56CD56c3e72c1403e103b45Db9da5B9D2B,0x3432B6A60D23Ca0dFCa7761B7ab56459D9C964D0'
 '0x6DEA81C8171D0bA574754EF6F8b412F2Ed88c54D,0xD533a949740bb3306d119CC777fa900bA034cd52'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2'
 '0x330416C863f2acCE7aF9C9314B422d24c672534a,0xD533a949740bb3306d119CC777fa900bA034cd52'
 '0xa3BeD4E1c75D00fa6f4E5E6922DB7261B5E9AcD2,0xD533a949740bb3306d119CC777fa900bA034cd52'
 '0xCFEAead4947f0705A14ec42aC3D44129E1Ef3eD5'
 '0x2e9d63788249371f1DFC918a52f8d799F4a38C94'
 '0xd533a949740bb3306d119cc777fa900ba034cd52,0x4e3fbd56cd56c3e72c1403e103b45db9da5b9d2b,0x31429d1856aD1377A8A0079410B297e1a9e214c2'
 '0x33349b282065b0284d756f0577fb39c158f935e6'
 '0x269616d549d7e8eaa82dfb17028d0b212d11232a'
 '0xd533a949740bb3306d119cc777fa900ba034cd52,0x4e3fbd56cd56c3e72c1403e103b45db9da5b9d2b,0xEdB67Ee1B171c4eC66E6c10EC43EDBbA20FaE8e9'
 '0x31429d1856ad1377a8a0079410b297e1a9e214c2'
 '0xE0aD1806Fd3E7edF6FF52Fdb822432e847411033,0x8290333ceF9e6D528dD5618Fb97a76f268f3EDD4,0xD533a949740bb3306d119CC777fa900bA034cd52'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0xdbdb4d16eda451d0503b854cf79d55697f90c8df'
 '0x4c19596f5aaff459fa38b0f7ed92f11ae6543784'
 '0xba100000625a3754423978a60c9317c58a424e3D,0x5a98fcbea516cf06857215779fd812ca3bef1b32'
 '0x92E187a03B6CD19CB6AF293ba17F2745Fd2357D5,0xD533a949740bb3306d119CC777fa900bA034cd52'
 '0x73968b9a57c6e53d41345fd57a6e6ae27d6cdb2f,0xD533a949740bb3306d119CC777fa900bA034cd52'
 '0xd533a949740bb3306d119cc777fa900ba034cd52,0x4e3fbd56cd56c3e72c1403e103b45db9da5b9d2b,0x92E187a03B6CD19CB6AF293ba17F2745Fd2357D5'
 '0x1b40183EFB4Dd766f11bDa7A7c3AD8982e998421'
 '0xA5d65E3bD7411D409EC2CCFa30C6511bA8a99D2B'
 '0xd533a949740bb3306d119cc777fa900ba034cd52,0x4e3fbd56cd56c3e72c1403e103b45db9da5b9d2b,0x31429d1856aD1377A8A0079410B297e1a9e214c2,0xEdB67Ee1B171c4eC66E6c10EC43EDBbA20FaE8e9'
 '0x73a83269b9bbafc427e76be0a2c1a1db2a26f4c2'
 '0x6B175474E89094C44Da98b954EedeAC495271d0F'
 '0x3432B6A60D23Ca0dFCa7761B7ab56459D9C964D0,0x0f2D719407FdBeFF09D87557AbB7232601FD9F29'
 '0x7659ce147d0e714454073a5dd7003544234b6aa0'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0x25f8087ead173b73d6e8b84329989a8eea16cf73'
 '0xef3A930e1FfFFAcd2fc13434aC81bD278B0ecC8d,0xD533a949740bb3306d119CC777fa900bA034cd52'
 '0x3432B6A60D23Ca0dFCa7761B7ab56459D9C964D0,0x579CEa1889991f68aCc35Ff5c3dd0621fF29b0C9'
 '0x85Eee30c52B0b379b046Fb0F85F4f3Dc3009aFEC'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0x3b484b82567a09e2588a13d54d032153f0c0aee0'
 '0xd533a949740bb3306d119cc777fa900ba034cd52,0x4e3fbd56cd56c3e72c1403e103b45db9da5b9d2b,0x89Ab32156e46F46D02ade3FEcbe5Fc4243B9AAeD'
 '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48,0x2f4eb47A1b1F4488C71fc10e39a4aa56AF33Dd49'
 '0x3432B6A60D23Ca0dFCa7761B7ab56459D9C964D0,0x49D9Ef84464C53c04934b8d23D7b1733fDcFd302'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0xf57e7e7c23978c3caec3c3548e3d615c346e79ff'
 '0x73968b9a57c6e53d41345fd57a6e6ae27d6cdb2f,0x31429d1856ad1377a8a0079410b297e1a9e214c2'
 '0x1337def16f9b486faed0293eb623dc8395dfe46a'
 '0x090185f2135308bad17527004364ebcc2d37e5f6'
 '0x3432B6A60D23Ca0dFCa7761B7ab56459D9C964D0,0xc2544A32872A91F4A553b404C6950e89De901fdb'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0x44709a920fccf795fbc57baa433cc3dd53c44dbe'
 '0x8d137e3337eb1b58a222fef2b2cc7c423903d9cf'
 '0x227c7df69d3ed1ae7574a1a7685fded90292eb48'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0xa5f2211b9b8170f694421f2046281775e8468044'
 '0x7659CE147D0e714454073a5dd7003544234b6Aa0'
 '0x4b1D0b9F081468D780Ca1d5d79132b64301085d1'
 '0x87931e7ad81914e7898d07c68f145fc0a553d8fb'
 '0x2f131c4dad4be81683abb966b4de05a549144443'
 '0x94c9ceb2f9741230fad3a62781b27cc79a9460d4'
 '0xBC19712FEB3a26080eBf6f2F7849b417FdD792CA,0xD533a949740bb3306d119CC777fa900bA034cd52'
 '0x641927e970222b10b2e8cdbc96b1b4f427316f16'
 '0x983E0df5CCCef64fCaa54F99b0945bcCf154EE80'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0x471ea49dd8e60e697f4cac262b5fafcc307506e4'
 '0x73968b9a57c6e53d41345fd57a6e6ae27d6cdb2f,0xD533a949740bb3306d119CC777fa900bA034cd52,0x5A98FcBEA516Cf06857215779Fd812CA3beF1B32'
 '0xd533a949740bb3306d119cc777fa900ba034cd52,0x4e3fbd56cd56c3e72c1403e103b45db9da5b9d2b,0xBC19712FEB3a26080eBf6f2F7849b417FdD792CA'
 '0xabea7663c472648d674bd3403d94c858dfeef728'
 '0x89Ab32156e46F46D02ade3FEcbe5Fc4243B9AAeD,0xD533a949740bb3306d119CC777fa900bA034cd52'
 '0x9fa69536d1cda4A04cFB50688294de75B505a9aE'
 '0xb98217f7f050aad1696467a1559e726381879f33'
 '0x20c36f062a31865bED8a5B1e512D9a1A20AA333A,0xD533a949740bb3306d119CC777fa900bA034cd52'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0xfb782396c9b20e564a64896181c7ac8d8979d5f4'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0xcb84d72e61e383767c4dfeb2d8ff7f4fb89abc6e'
 '0xfc0247cdaabc166423915077b666fa3bb9d1ee4d'
 '0xa66734d48d564e4e1c016c8d2ea2e9131b41c1ad'
 '0x9C02b8409a2CD04DFDA7b824235625f9C7DFb0E2'
 '0xea47b64e1bfccb773a0420247c0aa0a3c1d2e5c5'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0x16cda4028e9e872a38acb903176719299beaed87'
 '0x114f1388fab456c4ba31b1850b244eedcd024136'
 '0xD533a949740bb3306d119CC777fa900bA034cd52,0x31429d1856ad1377a8a0079410b297e1a9e214c2'
 '0x8762db106B2c2A0bccB3A80d1Ed41273552616E8'
 '0x1999a92711cf8815b7f6b07bd34b4287d853cfba'
 '0xe218a21d03dea706d114d9c4490950375f3b7c05'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0xf203ca1769ca8e9e8fe1da9d147db68b6c919817'
 '0xc7a8b45e184138114e6085c82936a8db93dd156a'
 '0xb39185e33e8c28e0bb3dbbce24da5dea6379ae91'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0x9ab7bb7fdc60f4357ecfef43986818a2a3569c62'
 '0x41A3Dba3D677E573636BA691a70ff2D606c29666' 'ETH'
 '0x0e050b2b7adb2cae5e8593e280ed5582953f9ad2'
 '0x3496B523e5C00a4b4150D6721320CdDb234c3079'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0x3c8d2fce49906e11e71cb16fa0ffeb2b16c29638'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0xe9f84de264e91529af07fa2c746e934397810334'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0xccc8cb5229b0ac8069c51fd58367fd1e622afd97'
 '0xb603b3fc4b5ad885e26298b7862bb6074dff32a9'
 '0x88a9a52f944315d5b4e917b9689e65445c401e83'
 '0x98968f0747e0a261532cacc0be296375f5c08398'
 '0x2260FAC5E5542a773Aa44fBCfeDf7C193bc2C599'
 '0x18222a762bf67024193de25e1cdc7aa6e614c695'
 '0xc3b5284b2c0cfa1871a6ac63b6d6ee43c08bdc79'
 '0xe97e496e8494232ee128c1a8cae0b2b7936f3caa'
 '0xf357c8270d5eb35655622c87dd76d182833562c4'
 '0xae5d1aae108a169b1abe93d6d9d3faea60a74e31'
 '0xdf7a2593a70ff1e69b5a20644ae848558a2f7c86'
 '0x1494CA1F11D487c2bBe4543E90080AeBa4BA3C2b'
 '0xe094b124dbff6e6a1905c4ee1c8dd65a805eb7a5'
 '0xdcdc1c1cc33aa817cbdbe8f5e2390bf7cc43dc4b'
 '0x5ce188b44266c7b4bbc67afa3d16b2eb24ed1065'
 '0x9b9fb226e98c4e90db2830c9aefa9cfcbe3b000a'
 '0x4da0c48376c277cdbd7fc6fdc6936dee3e4adf75'
 '0x614a0c75b1574748634dea378a7044f614b6fd9d'
 '0x6B4c7A5e3f0B99FCD83e9c089BDDD6c7FCe5c611'
 '0x73968b9a57c6e53d41345fd57a6e6ae27d6cdb2f,0xba100000625a3754423978a60c9317c58a424e3D'
 '0x304243A820D4A3718BecC89a3F33513586162CF0'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0x6bba316c48b49bd1eac44573c5c871ff02958469'
 '0xe632e1ea781df32c60ab11052958744cbfbc439a'
 '0x2034437801b62ede275210f76e2d4e77d0198bff'
 '0xa8b42c82a628dc43c2c2285205313e5106ea2853'
 '0xf373a10d21cc4a9f84421c69ec2d9528b6162012'
 '0x2d77f5b3efa51821ad6483adaf38ea4cb1824cc5'
 '0x74d84d49b3b2f5170a82ecab06cf8629e5239efb'
 '0xea23aff1724fe14c38be4f4493f456cac1afec0e'
 '0x1f104e7b11a6f5b4a15a438e0a107954afd7769f'
 '0x29a14d7954f4f233eb6ad772c49553c78901963e'
 '0xdc9525a6e02c8697558a848b883c3e4cff4eec0d'
 '0x69ec436a1eaefef15e75543969f800ec2afc4490'
 '0x0b3b9dcc99f64e6d66c88d053fae44009b032b3e'
 '0x514910771AF9Ca656af840dff83E8264EcF986CA'
 '0x42b4df7e402a71eae743c6c5410ce3bbb63aef22'
 '0x638F24096fF33e047E05E59fabc76325207090dc'
 '0x50100005a59a916627481b5443512b8015bce41e'
 '0xdb2fc08aad83627dd92532094ae44203283f2810'
 '0x7269c9aaa5ed95f0cc9dc15ff19a4596308c889c'
 '0xcd2e3a66507e94190e3b1521a189ad821c8c3006'
 '0x63aa9d05c025279f8e963ba784f1254814c1e12b'
 '0xda6e1225a0241c0fdc2e912bd76d70056bc8ac72'
 '0x92637df9cb3dff55c3e193bc49073db7d3e1d5aa'
 '0x15b479fd41749d5e4ad7ee06f55c7360e54052e5'
 '0xe7f4c89032a2488d327323548ab0459676269331'
 '0x68060cd4acf7f82c5ced694ee786b8bc0693424f'
 '0xC9e823929B74720990F0E3914ef718c37480494F'
 '0xa35bd2246978dfbb1980dff8ff0f5834335dfdbc'
 '0x1a84cb84603d045efc7c09c03c4a179145094927'
 '0x25b539b1c179fbe2af92abdfdc7e152cbc97addc'
 '0x6ef85df8fd2cb29dd958c94dde3644406d63d264'
 '0x4330b9b4313b682472804c39dc33636d11e14ab6'
 '0xffe136de12a2cd95f64cef9f36414c93e9003959'
 '0x316af3645b60b81b14c8032c4e4251f2c4674b70'
 '0x210f4a59097c5e10ec67db9b03cf35332a9aa0cf'
 '0xac59badc3487bdc3c077a9061f4c9c9871390153'
 '0x929d96baf9025f0c54bc6d16c40f86f6dc90ab6c'
 '0x8b7c94bc9ec137d67fbddb203b2814f0f1f9b377'
 '0x1e23fb8bd851cc2a341428c0b10e65d49987d744'
 '0x9b935a387a6d5d1e153d6caa427cee7226839ee2'
 '0x67d65da2a678791152d33cdcf92ce3b2bb2beccd'
 '0x3605f9e7b830094e5f47cdb6245f2dc8f47750a5'
 '0xd21c77b4e51a6cca9582e3cdb452c8a0a439f6fa'
 '0xf0fe1a87abf12099b77352bdcc10f5a87067b290'
 '0xf8eb56c7e4e3c885c905a19583bf41644d35aa0a'
 '0x8e45115181f8a01acca317a9af83707649cebfe0']
['lido-stETH' '0xDC24316b9AE028F1497c275EB9192a3Ea0f67022-ethereum'
 '0xae7ab96520de3a18e5e111b5eaab095312d7fe840xb53c1a33016b2dc2ff3653530bff1848a515c8c5'
 ... '0xf8eb56c7e4e3c885c905a19583bf41644d35aa0a'
 '0x868bb78fb045576162B510ba33358C9f93e7959e'
 '0x852c4d2823E98930388b5cE1ed106310b942bD5a']
[nan
 '0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE,0xae7ab96520DE3A18E5e111B5EaAb095312D7fE84'
 '0xae7ab96520de3a18e5e111b5eaab095312d7fe84' ...
 '0x69ec436a1eaefef15e75543969f800ec2afc4490,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2'
 '0x316af3645b60b81b14c8032c4e4251f2c4674b70,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2'
 '0xf8eb56c7e4e3c885c905a19583bf41644d35aa0a']

In [103]:
df_yield_1

,chain,project,symbol,tvlUsd,rewardTokens,pool,underlyingTokens
0,Ethereum,lido,stETH,6.153096e+09,NaN,lido-stETH,NaN
2,Ethereum,curve,ETH-stETH,1.175444e+09,"0x5A98FcBEA516Cf06857215779Fd812CA3beF1B32,0xD...",0xDC24316b9AE028F1497c275EB9192a3Ea0f67022-eth...,"0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE,0xa..."
3,Ethereum,aave-v2,STETH,1.169495e+09,NaN,0xae7ab96520de3a18e5e111b5eaab095312d7fe840xb5...,0xae7ab96520de3a18e5e111b5eaab095312d7fe84
4,Ethereum,aave-v2,USDC,1.031157e+09,NaN,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb480xb5...,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48
5,Ethereum,compound,cUSDC,1.019206e+09,0xc00e94cb662c3520282e6f5717214004a7f26888,0x39aa39c021dfbae8fac545936693ac917d5e7563,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48
...,...,...,...,...,...,...,...
9055,Ethereum,bancor,BMI-BNT,1.006600e+04,NaN,0x5505cF19fEFBFaE5D6405949Ff673fcCF483126D,NaN
9057,Ethereum,idle-finance,USDT,1.002600e+04,NaN,0xE0f126236d2a5b13f26e72cBb1D1ff5f297dDa07,NaN
9058,Ethereum,nftx,PIXLS,1.002585e+04,0xf8eb56c7e4e3c885c905a19583bf41644d35aa0a,0xf8eb56c7e4e3c885c905a19583bf41644d35aa0a,0xf8eb56c7e4e3c885c905a19583bf41644d35aa0a
9059,Ethereum,idle-finance,USDC,1.001200e+04,NaN,0x868bb78fb045576162B510ba33358C9f93e7959e,NaN
9060,Ethereum,idle-finance,DAI,1.000900e+04,NaN,0x852c4d2823E98930388b5cE1ed106310b942bD5a,NaN

In [128]:
# left: df_yield_1
# right: df_all_2

# left merge
df_left_merge = df_yield_1.merge(df_all_2, on = ['project', 'chain'], how='left')

df_left_merge

,chain,project,symbol,tvlUsd,rewardTokens,pool,underlyingTokens,category
0,Ethereum,lido,stETH,6.153096e+09,NaN,lido-stETH,NaN,NaN
1,Ethereum,curve,ETH-stETH,1.175444e+09,"0x5A98FcBEA516Cf06857215779Fd812CA3beF1B32,0xD...",0xDC24316b9AE028F1497c275EB9192a3Ea0f67022-eth...,"0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE,0xa...",Dexes
2,Ethereum,aave-v2,STETH,1.169495e+09,NaN,0xae7ab96520de3a18e5e111b5eaab095312d7fe840xb5...,0xae7ab96520de3a18e5e111b5eaab095312d7fe84,Lending
3,Ethereum,aave-v2,USDC,1.031157e+09,NaN,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb480xb5...,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,Lending
4,Ethereum,compound,cUSDC,1.019206e+09,0xc00e94cb662c3520282e6f5717214004a7f26888,0x39aa39c021dfbae8fac545936693ac917d5e7563,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,Lending
...,...,...,...,...,...,...,...,...
3912,Ethereum,bancor,BMI-BNT,1.006600e+04,NaN,0x5505cF19fEFBFaE5D6405949Ff673fcCF483126D,NaN,NaN
3913,Ethereum,idle-finance,USDT,1.002600e+04,NaN,0xE0f126236d2a5b13f26e72cBb1D1ff5f297dDa07,NaN,NaN
3914,Ethereum,nftx,PIXLS,1.002585e+04,0xf8eb56c7e4e3c885c905a19583bf41644d35aa0a,0xf8eb56c7e4e3c885c905a19583bf41644d35aa0a,0xf8eb56c7e4e3c885c905a19583bf41644d35aa0a,NaN
3915,Ethereum,idle-finance,USDC,1.001200e+04,NaN,0x868bb78fb045576162B510ba33358C9f93e7959e,NaN,NaN
3916,Ethereum,idle-finance,DAI,1.000900e+04,NaN,0x852c4d2823E98930388b5cE1ed106310b942bD5a,NaN,NaN

In [129]:
# inner join

df_inner_merge = df_yield_1.merge(df_all_2, on = ['project', 'chain'])

df_inner_merge

,chain,project,symbol,tvlUsd,rewardTokens,pool,underlyingTokens,category
0,Ethereum,curve,ETH-stETH,1.175444e+09,"0x5A98FcBEA516Cf06857215779Fd812CA3beF1B32,0xD...",0xDC24316b9AE028F1497c275EB9192a3Ea0f67022-eth...,"0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE,0xa...",Dexes
1,Ethereum,curve,DAI-USDC-USDT,9.241254e+08,0xD533a949740bb3306d119CC777fa900bA034cd52,0xbEbc44782C7dB0a1A60Cb6fe97d0b483032FF1C7-eth...,"0x6B175474E89094C44Da98b954EedeAC495271d0F,0xA...",Dexes
2,Ethereum,curve,FRAX-3Crv,8.887704e+08,"0x3432B6A60D23Ca0dFCa7761B7ab56459D9C964D0,0xD...",0xd632f22692FaC7611d2AA1C0D552930D43CAEd3B-eth...,"0x853d955aCEf822Db058eb8505911ED77F175b99e,0x6...",Dexes
3,Ethereum,curve,FRAX-USDC,7.624453e+08,0xD533a949740bb3306d119CC777fa900bA034cd52,0xDcEF968d416a41Cdac0ED8702fAC8128A64241A2-eth...,"0x853d955aCEf822Db058eb8505911ED77F175b99e,0xA...",Dexes
4,Ethereum,curve,USDT-WBTC-WETH,2.447118e+08,0xD533a949740bb3306d119CC777fa900bA034cd52,0xD51a44d3FaE010294C616388b506AcdA1bfAAE46-eth...,"0xdAC17F958D2ee523a2206206994597C13D831ec7,0x2...",Dexes
...,...,...,...,...,...,...,...,...
3014,Ethereum,integral,LINK-WETH,4.706500e+04,NaN,0x4370cfd2c62b6e2900d04af97c4d9552484c0e48,NaN,Dexes
3015,Ethereum,integral,CVX-WETH,3.195300e+04,NaN,0x43f0e5f2304f261dfa5359a0b74ff030e498d904,NaN,Dexes
3016,Ethereum,integral,USDC-WETH,2.153400e+04,NaN,0x2fe16dd18bba26e457b7dd2080d5674312b026a2,NaN,Dexes
3017,Ethereum,integral,USDC-USDT,1.360700e+04,NaN,0x3ffecc12a6b46c3aa32aea38ac34efbb6c9b6052,NaN,Dexes
3018,Ethereum,the-granary,WETH,1.183900e+04,NaN,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc20xed...,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Lending

In [130]:
df_yield_1.shape

(3917, 7)

In [131]:
for col in df_inner_merge:
    print(df_inner_merge[col].unique())

['Ethereum']
['curve' 'aave-v2' 'compound' 'uniswap' 'balancer' 'iron-bank' 'euler'
 'sushiswap' 'notional' 'morpho' 'bancor-v3' 'angle' 'loopring' 'clipper'
 'liqee' 'sturdy' 'dforce' 'abracadabra' 'kyberswap' 'integral'
 'the-granary']
['ETH-stETH' 'DAI-USDC-USDT' 'FRAX-3Crv' ... 'DF' 'MIM-3LP3CRV-f'
 'STETH-WETH']
[1.17544374e+09 9.24125400e+08 8.88770377e+08 ... 2.15340000e+04
 1.36070000e+04 1.18390000e+04]
['0x5A98FcBEA516Cf06857215779Fd812CA3beF1B32,0xD533a949740bb3306d119CC777fa900bA034cd52'
 '0xD533a949740bb3306d119CC777fa900bA034cd52'
 '0x3432B6A60D23Ca0dFCa7761B7ab56459D9C964D0,0xD533a949740bb3306d119CC777fa900bA034cd52'
 '0x090185f2135308BaD17527004364eBcC2D37e5F6,0xD533a949740bb3306d119CC777fa900bA034cd52'
 '0xC011a73ee8576Fb46F5E1c5751cA3B9Fe0af2a6F,0xD533a949740bb3306d119CC777fa900bA034cd52'
 '0xdBdb4d16EdA451D0503b854CF79D55697F90c8DF,0xD533a949740bb3306d119CC777fa900bA034cd52'
 '0x6DEA81C8171D0bA574754EF6F8b412F2Ed88c54D,0xD533a949740bb3306d119CC777fa900bA034cd52'
 '0x330416C863f2acCE7aF9C9314B422d24c672534a,0xD533a949740bb3306d119CC777fa900bA034cd52'
 '0xa3BeD4E1c75D00fa6f4E5E6922DB7261B5E9AcD2,0xD533a949740bb3306d119CC777fa900bA034cd52'
 nan
 '0xE0aD1806Fd3E7edF6FF52Fdb822432e847411033,0x8290333ceF9e6D528dD5618Fb97a76f268f3EDD4,0xD533a949740bb3306d119CC777fa900bA034cd52'
 '0x92E187a03B6CD19CB6AF293ba17F2745Fd2357D5,0xD533a949740bb3306d119CC777fa900bA034cd52'
 '0xef3A930e1FfFFAcd2fc13434aC81bD278B0ecC8d,0xD533a949740bb3306d119CC777fa900bA034cd52'
 '0x85Eee30c52B0b379b046Fb0F85F4f3Dc3009aFEC'
 '0xBC19712FEB3a26080eBf6f2F7849b417FdD792CA,0xD533a949740bb3306d119CC777fa900bA034cd52'
 '0x89Ab32156e46F46D02ade3FEcbe5Fc4243B9AAeD,0xD533a949740bb3306d119CC777fa900bA034cd52'
 '0x20c36f062a31865bED8a5B1e512D9a1A20AA333A,0xD533a949740bb3306d119CC777fa900bA034cd52'
 '0x8762db106B2c2A0bccB3A80d1Ed41273552616E8'
 '0xc00e94cb662c3520282e6f5717214004a7f26888'
 '0xba100000625a3754423978a60c9317c58a424e3d'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0xdbdb4d16eda451d0503b854cf79d55697f90c8df'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0x25f8087ead173b73d6e8b84329989a8eea16cf73'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0x3b484b82567a09e2588a13d54d032153f0c0aee0'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0xf57e7e7c23978c3caec3c3548e3d615c346e79ff'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0x44709a920fccf795fbc57baa433cc3dd53c44dbe'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0xa5f2211b9b8170f694421f2046281775e8468044'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0x471ea49dd8e60e697f4cac262b5fafcc307506e4'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0xfb782396c9b20e564a64896181c7ac8d8979d5f4'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0xcb84d72e61e383767c4dfeb2d8ff7f4fb89abc6e'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0x16cda4028e9e872a38acb903176719299beaed87'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0xf203ca1769ca8e9e8fe1da9d147db68b6c919817'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0x9ab7bb7fdc60f4357ecfef43986818a2a3569c62'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0x3c8d2fce49906e11e71cb16fa0ffeb2b16c29638'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0xe9f84de264e91529af07fa2c746e934397810334'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0xccc8cb5229b0ac8069c51fd58367fd1e622afd97'
 '0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,0x6bba316c48b49bd1eac44573c5c871ff02958469'
 '0xCFEAead4947f0705A14ec42aC3D44129E1Ef3eD5'
 '0xA5d65E3bD7411D409EC2CCFa30C6511bA8a99D2B'
 '0x983E0df5CCCef64fCaa54F99b0945bcCf154EE80'
 '0x9C02b8409a2CD04DFDA7b824235625f9C7DFb0E2'
 '0x090185f2135308bad17527004364ebcc2d37e5f6']
['0xDC24316b9AE028F1497c275EB9192a3Ea0f67022-ethereum'
 '0xbEbc44782C7dB0a1A60Cb6fe97d0b483032FF1C7-ethereum'
 '0xd632f22692FaC7611d2AA1C0D552930D43CAEd3B-ethereum' ...
 '0x2fe16dd18bba26e457b7dd2080d5674312b026a2'
 '0x3ffecc12a6b46c3aa32aea38ac34efbb6c9b6052'
 '0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc20xedc83309549e36f3c7fd8c2c5c54b4c8e5fa00fc']
['0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE,0xae7ab96520DE3A18E5e111B5EaAb095312D7fE84'
 '0x6B175474E89094C44Da98b954EedeAC495271d0F,0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48,0xdAC17F958D2ee523a2206206994597C13D831ec7'
 '0x853d955aCEf822Db058eb8505911ED77F175b99e,0x6c3F90f043a72FA612cbac8115EE7e52BDe6E490'
 ... '0x983E0df5CCCef64fCaa54F99b0945bcCf154EE80'
 '0x9C02b8409a2CD04DFDA7b824235625f9C7DFb0E2'
 '0x090185f2135308BaD17527004364eBcC2D37e5F6,0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2']
['Dexes' 'Lending' 'CDP']

In [132]:
df_inner_merge['symbol']

0            ETH-stETH
1        DAI-USDC-USDT
2            FRAX-3Crv
3            FRAX-USDC
4       USDT-WBTC-WETH
             ...
3014         LINK-WETH
3015          CVX-WETH
3016         USDC-WETH
3017         USDC-USDT
3018              WETH
Name: symbol, Length: 3019, dtype: object